.Account_wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.Main_InfoContainer {
  width: 300px;
  height: 60vh;
  border: 1px solid gray;
  margin: 100px;
}

.Main_heading {
  padding: 13px;
  font-family: sans-serif;
}
.Content {
  background-color: #f2f3f4;
}
.Person_Information {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Photo {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: gray;
  margin-right: 10px;
}
.Information {
  padding: 15px;
  font-size: 14px;
  font-family: sans-serif;
}

.Log_Out {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.logoutTomainpage {
  background-color: #6c25ff;
  color: white;
  width: 100px;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
  font-family: sans-serif;
}
